*{outline: none;}
body{
  color: #9D84B7;
  background-color: #0e1333;

}
.main{
  width: 100%;
  height: 100vh;
  max-width: 1400px;
  overflow: hidden;
  margin: auto;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
  font-weight: 500;
  color: #61497b;
}